body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
.App{
  background-color: #060606;
  color: 
  #7afef0
}
.navbar{
  justify-content: left;
  padding: 20px;
}
.my_pic_and_cap{
  display: flex;
  justify-content: center;
 
}
.animated_text{
  font-size: xx-large !important;
  font-family: "ink free"!important;
  font-weight: normal !important;
}
.nav-link{
  height: 70px;
  color: 
  #7afef0 !important; 
  font-family: 'Courier New', Courier, monospace!important;
  font-size: xx-large;
}

img{
  height: 500px;
  width: 500px;
}

.subject_header{
  font-weight: normal !important;
  font-size: xx-large !important;
  height: 70px;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace!important;
}
p.aboutme{
  font-family: 'Courier New', Courier, !important;
  font-size: 20px;
}

h2.header{
  font-family: 'Courier New', Courier,!important;
  font-size: 20px;
}
h1{
 
  font-weight: bold !important;
  font-family: 'Courier New', Courier,!important
}
h1.light{
  
}
.modalimage{
  width: 798px;
  height: 500px;
}
a.project_link{
  color: #7afef0;
  text-decoration: none;
  font-size: 20px;
}
a.project_link:hover{
  color: yellow;
  font-weight: bold;
  cursor: pointer;
}