body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  
    
}
.App{
  background-color: #060606;
  color: 
  #7afef0
}
.navbar{
  justify-content: left;
  padding: 20px;
}
.my_pic_and_cap{
  display: flex;
  justify-content: center;
 
}
.animated_text{
  font-size: xx-large !important;
  font-family: "ink free"!important;
  font-weight: normal !important;
}
.nav-link{
  height: 70px;
  color: 
  #7afef0 !important; 
  font-family: 'Courier New', Courier, monospace!important;
  font-size: xx-large;
}

img{
  height: 500px;
  width: 500px;
}

.subject_header{
  font-weight: normal !important;
  font-size: xx-large !important;
  height: 70px;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace!important;
}
p.about{
  font-family: 'Courier New', Courier, !important;
  font-size: 20px;
}

h2.header{
  font-family: 'Courier New', Courier, !important;
  font-size: 20px;
}
h1{
 
  font-weight: bold !important;
  font-family: 'Courier New', Courier,!important
}
h1.light{
  
}
.modalimage{
  width: 798px;
  height: 500px;
}
a.project_link{
  color: #7afef0;
  text-decoration: none;
  font-size: 20px;
}
a.project_link:hover{
  color: yellow;
  font-weight: bold;
  cursor: pointer;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:root {
  --off-white: #fafafa;
}
.nav {
  background-color: #060606 ;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  font-family: 'Courier New', Courier,!important;
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 1050px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: 
  #7afef0 ;
}

.nav-item:hover {
  
  cursor: pointer;
  color: yellow 
}



.section-dark {
  background-color: #61dafb; ;
  color: black;
  font-family: 'Courier New', Courier, !important;
}

.section-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
}
a.active{
  color: yellow;
  text-decoration: none;
}
img.tech{
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
}

.techs{

}
a.contact{
  color: black;
  text-decoration: none;
}
a.contact:hover{
  color: yellow;
  font-weight: bold;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:root {
  --off-white: #fafafa;
}
.nav {
  background-color: #060606 ;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  font-family: 'Courier New', Courier,!important;
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 1050px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: 
  #7afef0 ;
}

.nav-item:hover {
  
  cursor: pointer;
  color: yellow 
}



.section-dark {
  background-color: #61dafb; ;
  color: black;
  font-family: 'Courier New', Courier, !important;
}

.section-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
}
a.active{
  color: yellow;
  text-decoration: none;
}
img.tech{
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
}

.techs{

}
a.contact{
  color: black;
  text-decoration: none;
}
a.contact:hover{
  color: yellow;
  font-weight: bold;
}